In [1]:
# import dependencies 
import pandas as pd
import numpy as np
from config import username, password
from sqlalchemy import create_engine, inspect

In [2]:
file = "resources/country_vaccinations_by_manufacturer.csv"
manufacturer_df = pd.read_csv(file)

file = "Resources/vaccine_stocks.csv"
stocks_df = pd.read_csv(file)

In [3]:
# list the coluumns in each csv
print(f"manufacturer_df columns :\n\n{manufacturer_df.columns}")
print("\n")
print(f"stocks_df columns : \n\n{stocks_df.columns}")

manufacturer_df columns :

Index(['location', 'date', 'vaccine', 'total_vaccinations'], dtype='object')


stocks_df columns :

Index(['Date', 'High_BioNTech', 'Low_BioNTech', 'Open_BioNTech',
       'Close_BioNTech', 'Volume_BioNTech', 'Adj Close_BioNTech',
       'High_Moderna', 'Low_Moderna', 'Open_Moderna', 'Close_Moderna',
       'Volume_Moderna', 'Adj Close_Moderna', 'High_Johnson & Johnson',
       'Low_Johnson & Johnson', 'Open_Johnson & Johnson',
       'Close_Johnson & Johnson', 'Volume_Johnson & Johnson',
       'Adj Close_Johnson & Johnson', 'High_Inovio Pharmaceuticals',
       'Low_Inovio Pharmaceuticals', 'Open_Inovio Pharmaceuticals',
       'Close_Inovio Pharmaceuticals', 'Volume_Inovio Pharmaceuticals',
       'Adj Close_Inovio Pharmaceuticals', 'High_Sinovac', 'Low_Sinovac',
       'Open_Sinovac', 'Close_Sinovac', 'Volume_Sinovac', 'Adj Close_Sinovac',
       'High_Sinopharm', 'Low_Sinopharm', 'Open_Sinopharm', 'Close_Sinopharm',
       'Volume_Sinopharm', 'Adj Close_Sinopharm', 'High_Novavax',
       'Low_Novavax', 'Open_Novavax', 'Close_Novavax', 'Volume_Novavax',
       'Adj Close_Novavax', 'High_Astrazeneca', 'Low_Astrazeneca',
       'Open_Astrazeneca', 'Close_Astrazeneca', 'Volume_Astrazeneca',
       'Adj Close_Astrazeneca'],
      dtype='object')

## Mututal Columns

* Ensure the dates and vaccine manufacturer names in each table match so that the tables can be joined

In [4]:
# print vaccine in manufacturer df
manufacturer_df["vaccine"].unique()

array(['Johnson&Johnson', 'Moderna', 'Oxford/AstraZeneca',
       'Pfizer/BioNTech', 'Sinovac', 'CanSino', 'Sputnik V',
       'Sinopharm/Beijing'], dtype=object)

In [5]:
# print vaccine in stocks df by taking each unique high value
high_cols = [col for col in stocks_df.columns if "High_" in col]

stock_vaccines = []
for col in high_cols:
    name = col.replace("High_", "")
    stock_vaccines.append(name)

print(stock_vaccines)

['BioNTech', 'Moderna', 'Johnson & Johnson', 'Inovio Pharmaceuticals', 'Sinovac', 'Sinopharm', 'Novavax', 'Astrazeneca']

### Mutual Vaccines 

* manufacturer_df - stocks_df
* 'Pfizer/BioNTech' : 'BioNTech'
* 'Moderna' : 'Moderna'
* 'Johnson&Johnson' : 'Johnson & Johnson'
* 'Sinovac' : 'Sinovac'
* 'Sinopharm/Beijing': 'Sinopharm'
* 'Oxford/AstraZeneca' : 'Astrazeneca'

These were manually found and listed.

The following columns in the manufacturer_df table need to be renamed to match the stocks_df

In [27]:
# rename columns
manufacturer_df = manufacturer_df.replace({"vaccine": {'Pfizer/BioNTech' : 'BioNTech',
                                                      'Johnson&Johnson' : 'Johnson & Johnson',
                                                      'Sinopharm/Beijing': 'Sinopharm',
                                                      'Oxford/AstraZeneca' : 'Astrazeneca'}})

manufacturer_df

             location        date            vaccine  total_vaccinations
0             Austria  2021-01-08  Johnson & Johnson                   0
1             Austria  2021-01-08            Moderna                   0
2             Austria  2021-01-08        Astrazeneca                   0
3             Austria  2021-01-08           BioNTech               31394
4             Austria  2021-01-15  Johnson & Johnson                   0
...               ...         ...                ...                 ...
15379  European Union  2021-09-11            Moderna            54476793
15380  European Union  2021-09-11        Astrazeneca            67071863
15381  European Union  2021-09-11           BioNTech           384798758
15382  European Union  2021-09-11          Sinopharm             2092912
15383  European Union  2021-09-11          Sputnik V             1840097

[15384 rows x 4 columns]

In [28]:
print(stocks_df["Date"].head(1))
print(manufacturer_df["date"].head(1))
print("\nBoth dates follow the same format, no changes needed")

0    2019-10-10
Name: Date, dtype: object
0    2021-01-08
Name: date, dtype: object

Both dates follow the same format, no changes needed

## Table Joining

Now that our mutual columns are joinable, the following can be done: 

* Create columns in the manufacturer_df for the stock high, low, open, close and adj close.
* Join the tables so that each stocks data is input into one of these columns

A solution for making the join as simple as possible is to take the stocks_df and input all of the data into a new dataframe, where the columns are the name of the manufacturer, the date and then the high, low, open, close and adj close values.

In [29]:
stock_prefix = ["High_","Low_","Open_","Close_","Adj Close_"]
stock_suffix = stock_vaccines

# Example of how these two lists can call a column of data
stocks_df[stock_prefix[0] + stock_suffix[0]]

0       16.698999
1       15.340000
2       13.910000
3       13.000000
4       13.880000
          ...
473    377.598999
474    370.320007
475    360.329987
476    349.339996
477    336.500000
Name: High_BioNTech, Length: 478, dtype: float64

In [30]:
# create empty list to hold values
container = []

# loop through each row, the vaccine and then the type of stock
for index, row in stocks_df.iterrows():
    for vaccine in stock_suffix:
        for stock_type in stock_prefix:
            
            # stock the date, manufacturer,type of stock and stock value for a given row
            date = row["Date"]
            manufacturer = vaccine
            stock = stock_type[:-1]
            value = (row[stock_type + vaccine])
            
            # input data in list
            info = [date,manufacturer,stock,value]
            
            # append list into container list
            container.append(info)

#use list of lists to create new, easier to manage dataframe
container_df = pd.DataFrame.from_records(container)
container_df = container_df.rename(columns={0: "date",
                                           1: "manufacturer",
                                           2: "type",
                                           3: "value"})

container_df

             date manufacturer       type      value
0      2019-10-10     BioNTech       High  16.698999
1      2019-10-10     BioNTech        Low  13.010000
2      2019-10-10     BioNTech       Open  16.500000
3      2019-10-10     BioNTech      Close  14.240000
4      2019-10-10     BioNTech  Adj Close  14.240000
...           ...          ...        ...        ...
19115  2021-09-01  Astrazeneca       High  58.919998
19116  2021-09-01  Astrazeneca        Low  58.380001
19117  2021-09-01  Astrazeneca       Open  58.740002
19118  2021-09-01  Astrazeneca      Close  58.720001
19119  2021-09-01  Astrazeneca  Adj Close  58.720001

[19120 rows x 4 columns]

In [31]:
stock_types = container_df["type"].unique()

total_rows = (len(container_df["date"]))
total_dates = (len(container_df["date"].unique()))
total_vaccines = (len(container_df["manufacturer"].unique()))
types = (len(stock_types))


print(f"""
We have {total_rows} rows, which divded by the total number of unique dates ({total_dates}) is {total_rows/total_dates}.
{total_rows/total_dates} divided by the total different number of stock types ({types}) is {(total_rows/total_dates) / types}.
As we have {total_vaccines} unique vaccines, this means each vaccine is present with all data on each day. 
As such, we can confirm no data is missing.

When we drop duplicates from our final table, we will expect to see {total_rows / types} rows.
""")

We have 19120 rows, which divded by the total number of unique dates (478) is 40.0.
40.0 divided by the total different number of stock types (5) is 8.0.
As we have 8 unique vaccines, this means each vaccine is present with all data on each day.
As such, we can confirm no data is missing.

When we drop duplicates from our final table, we will expect to see 3824.0 rows.

In [32]:
# create new empty dataframe
sorted_df = pd.DataFrame(
    {"date": [],
     "manufacturer": []
     }
)

# using the calculations above, we can insert the data and manufacturers into this data frame without concern 
sorted_df["date"] = container_df["date"]
sorted_df["manufacturer"] = container_df["manufacturer"]

# the duplicate values are then dropped as they are not needed
sorted_df = sorted_df.drop_duplicates()

# a new dataframe is created which filters all of the high stock results
high_df = container_df[container_df["type"] == "High"]

# the column for the values is renamed to matched this filtering, as this is the information we will want
high_df = high_df.rename(columns={"value":"High"})

# a join is performed, which will add a type column that containing the word high in each row and the "high" column
# which has the stock value in each row to the appropriate data and vaccine manufacturer
sorted_df = pd.merge(sorted_df, high_df,  how='left', left_on=['date','manufacturer'], right_on = ['date','manufacturer'])

# the type column is no longer required and as such, is removed
sorted_df = sorted_df.drop(columns=["type"], axis=1)

sorted_df.head()

         date            manufacturer        High
0  2019-10-10                BioNTech   16.698999
1  2019-10-10                 Moderna   14.410000
2  2019-10-10       Johnson & Johnson  130.119995
3  2019-10-10  Inovio Pharmaceuticals    2.180000
4  2019-10-10                 Sinovac    6.470000

In [33]:
# this is carried out in the same way for each of the differnt stock types
low_df = container_df[container_df["type"] == "Low"]
low_df = low_df.rename(columns={"value":"Low"})
sorted_df = pd.merge(sorted_df, low_df,  how='left', left_on=['date','manufacturer'], right_on = ['date','manufacturer'])
sorted_df = sorted_df.drop(columns=["type"], axis=1)

open_df = container_df[container_df["type"] == "Open"]
open_df = open_df.rename(columns={"value":"Open"})
sorted_df = pd.merge(sorted_df, open_df,  how='left', left_on=['date','manufacturer'], right_on = ['date','manufacturer'])
sorted_df = sorted_df.drop(columns=["type"], axis=1)

close_df = container_df[container_df["type"] == "Close"]
close_df = close_df.rename(columns={"value":"Close"})
sorted_df = pd.merge(sorted_df, close_df,  how='left', left_on=['date','manufacturer'], right_on = ['date','manufacturer'])
sorted_df = sorted_df.drop(columns=["type"], axis=1)

adjclose_df = container_df[container_df["type"] == "Adj Close"]
adjclose_df = adjclose_df.rename(columns={"value":"Adj Close"})
sorted_df = pd.merge(sorted_df, adjclose_df,  how='left', left_on=['date','manufacturer'], right_on = ['date','manufacturer'])
sorted_df = sorted_df.drop(columns=["type"], axis=1)

# this leaves us with our data set containing the date and and manufacturers stock values for each type in a single row
sorted_df

,date,manufacturer,High,Low,Open,Close,Adj Close
0,2019-10-10,BioNTech,16.698999,13.010000,16.500000,14.240000,14.240000
1,2019-10-10,Moderna,14.410000,13.870000,14.130000,14.160000,14.160000
2,2019-10-10,Johnson & Johnson,130.119995,128.630005,128.949997,129.059998,122.509598
3,2019-10-10,Inovio Pharmaceuticals,2.180000,2.060000,2.080000,2.160000,2.160000
4,2019-10-10,Sinovac,6.470000,6.470000,6.470000,6.470000,6.470000
...,...,...,...,...,...,...,...
3819,2021-09-01,Inovio Pharmaceuticals,8.880000,8.530000,8.650000,8.740000,8.740000
3820,2021-09-01,Sinovac,6.470000,6.470000,6.470000,6.470000,6.470000
3821,2021-09-01,Sinopharm,2.690000,2.690000,2.690000,2.690000,2.690000
3822,2021-09-01,Novavax,258.769989,235.110001,238.000000,252.059998,252.059998
3823,2021-09-01,Astrazeneca,58.919998,58.380001,58.740002,58.720001,58.720001

In [54]:
# now that this is done, we can go back to our manufacturer table, and join the locations to this table
loc_joined = pd.merge(manufacturer_df, sorted_df,  how='left', left_on=['date','vaccine'], right_on = ['date','manufacturer'])

# the values for the vaccine and manufacturer column are identical, so one is dropped
loc_joined = loc_joined.drop(columns=["manufacturer"], axis=1)

# the columns are then reordered
loc_joined = loc_joined[["date","location","vaccine","total_vaccinations","High","Low","Open","Close","Adj Close"]]

# null values are dropped, this will be for vaccine companies which did not have stock data and
# for dates not recorded on both .csv files
loc_joined = loc_joined.dropna(axis="rows")

# assign a new name to the dataframe so we know that this is the dataframe which should be loaded by sql
schema_ready_df = loc_joined
schema_ready_df

,date,location,vaccine,total_vaccinations,High,Low,Open,Close,Adj Close
0,2021-01-08,Austria,Johnson & Johnson,0,161.100006,159.880005,160.509995,160.039993,157.128357
1,2021-01-08,Austria,Moderna,0,117.709999,111.489998,116.519997,112.750000,112.750000
2,2021-01-08,Austria,Astrazeneca,0,50.880001,50.320000,50.590000,50.860001,49.498962
3,2021-01-08,Austria,BioNTech,31394,101.199997,97.000000,98.099998,100.389999,100.389999
4,2021-01-15,Austria,Johnson & Johnson,0,161.410004,159.110001,160.300003,160.300003,157.383652
...,...,...,...,...,...,...,...,...,...
15318,2021-09-01,European Union,Johnson & Johnson,13688604,173.740005,172.059998,172.899994,173.740005,173.740005
15319,2021-09-01,European Union,Moderna,52532885,394.980011,375.200012,382.837006,389.940002,389.940002
15320,2021-09-01,European Union,Astrazeneca,67009529,58.919998,58.380001,58.740002,58.720001,58.720001
15321,2021-09-01,European Union,BioNTech,376692744,336.500000,326.500000,334.250000,332.500000,332.500000
15322,2021-09-01,European Union,Sinopharm,2085862,2.690000,2.690000,2.690000,2.690000,2.690000

## SQL Schema

In [35]:
#conn_string = f"postgresql://{username}:{password}@localhost:5432/vaccine_db"

#engine = create_engine(conn_string)

In [ ]:
#inspect(engine).get_table_names()

In [ ]:
#sorted_df.to_sql(name='vacstocks', con=engine, if_exists='append', index=False)